{{>navbar margin=true}}
{{>paralax title=posts.[0].title image=(cloudinaryUrl posts.[0].image)}}
<div class="about" style="padding: 40px; padding-bottom:0px;">
    <h1 class="nazeefa text-center">{{striptags posts.[0].content.brief}}</h1>
</div>
<div class="about">
  <div class="about__container">
    {{#if posts}}
  		{{#with posts.[0]}}
        <div class="about__container__text">
  				{{{content.extended}}}
        </div>
      {{/with}}
    {{/if}}
  </div>
</div>
<div>
  <div class="about">
    <div class="about__container">
      <div>
        {{>artwork img='/img/art1.png' class='rotate'}}
      </div>
    </div>
  </div>
  <h2 class="nazeefa" style="text-align: center;">follow along</h2>
  <h3 style="text-align: center;">@jenlarissaphoto</h3>
  <div class="insta-gallery flex">
    <div id='instafeed' class="instafeed">
    </div>
  </div>
</div>

<script type="text/javascript" src="/js/instafeed.min.js"></script>
<script type="text/javascript" src="/js/about.js"></script>

{{>footer}}
