{{>navbar margin=true}}

{{>paralax title=posts.[0].title}}

<div class="about">
  <div class="about__container">
    {{#if posts}}
  		{{#with posts.[0]}}
        <div class="about__container__text">
  				{{{content.extended}}}
        </div>
        <!-- <div class="about__container__image">
          <img src="{{{cloudinaryUrl image}}}" />
        </div> -->
      {{/with}}
    {{/if}}
  </div>
</div>
<div class='uil-ring-css'><div></div></div>
<div>
  <div><div>
  <h2 style="text-align: center;">FOLLOW ALONG</h2>
  <p style="text-align: center;">@jenlarissaphoto</p>
    <div class="insta-gallery flex">
      <div id='instafeed' class="instafeed">
      </div>
    </div>
</div>

<script type="text/javascript" src="/js/instafeed.min.js"></script>
<script type="text/javascript" src="/js/about.js"></script>

{{>footer}}
