{{>navbar margin=true}}

<div class="gallery">

    {{>paralax image=(cloudinaryUrl galleries.[0].heroImage) title=(toUpperCase category)}}
<!-- <p>{{galleries}}</p> -->
		{{#each galleries}}
      {{>gallery-post ref=key img=heroImage title=name description=content.brief}}
    {{/each}}

</div>

{{>footer}}
