{{>navbar margin=true}}

<div class="gallery">

    {{>paralax url=(cloudinaryUrl galleries.[0].heroImage) title=(toUpperCase category)}}

		{{#each galleries}}
      <a class="image" href="/blog/{{{toLowerCase key}}}">
        <figure class="photo-inner">
          <img src="{{{cloudinaryUrl heroImage}}}" alt="">
          <div class="photo-overlay">
            <h3 class="photo-overlay__title">{{{toUpperCase name}}}</h3>
            <p class="photo-overlay__description">{{{toUpperCase content.brief}}}</p>
          </div>
        </figure>
      </a>
    {{/each}}

</div>

{{>footer}}
