{{>navbar margin=true}}

<div class="gallery">
  {{>paralax title=(toUpperCase category) image=(cloudinaryUrl posts.[0].image) position=posts.[0].imagePosition}}
  {{>artwork img='/img/boquet.png' class="blog-art" style="margin-bottom: 20px;"}}
<!-- <p>{{galleries}}</p> -->
		{{#each galleries}}
      {{>gallery-post ref=key img=heroImage title=name description=content.brief}}
    {{/each}}

</div>

{{>footer}}
