<h1>Mighty eagle come and rescue me!</h1>
<h2>Mighty eagle come and rescue me!</h2>
<h3>Mighty eagle come and rescue me!</h3>
<h4>Mighty eagle come and rescue me!</h4>
<h5>Mighty eagle come and rescue me!</h5>
<h6>Mighty eagle come and rescue me!</h6>
<p>Mighty eagle come and rescue me!</p>

<h1 class='nazeefa'>Mighty eagle come and rescue me!</h1>
<h2 class='nazeefa'>Mighty eagle come and rescue me!</h2>
<h3 class='nazeefa'>Mighty eagle come and rescue me!</h3>
<h4 class='nazeefa'>Mighty eagle come and rescue me!</h4>
<h5 class='nazeefa'>Mighty eagle come and rescue me!</h5>
<h6 class='nazeefa'>Mighty eagle come and rescue me!</h6>
<p class='nazeefa'>Mighty eagle come and rescue me!</p>
