{{>navbar margin=true}}

{{>paralax title='BLOG'}}

<div class="gallery">
		{{#each data.sessions}}
      {{>gallery-post ref=key img=heroImage title=name description=content.brief}}
    {{/each}}
</div>

{{>footer}}
