{{>navbar margin=true}}

{{>paralax title='BLOG' image=(cloudinaryUrl posts.[0].image) position=posts.[0].imagePosition}}

{{>artwork img='/img/boquet2-small.png' class="blog-art"}}

<div class="gallery">
		{{#each data.sessions}}
      {{>gallery-post ref=key img=heroImage title=name description=content.brief}}
    {{/each}}
</div>

{{>footer}}
