{{>navbar margin=true}}
{{>paralax title=posts.[0].title image=(cloudinaryUrl posts.[0].image) position=posts.[0].imagePosition}}
<div class="pricing" style="padding: 40px; padding-bottom:0px;">
    <h1 class="nazeefa text-center">investment + f.a.q's</h1>
</div>
<div class="pricing">
  <div class="pricing__container">
    {{#if posts}}
    {{#with posts.[0]}}
    <div class="pricing__container__text">
      {{{content.brief}}}
    </div>
    {{/with}}
    {{/if}}
  </div>
</div>
<div class="pricing-contact">
  <p>FOR QUESTIONS OR INQUIRIES</p>
  <a href="contact" class="nazeefa">CONTACT ME</a>
</div>
<div class="pricing">
  <div class="pricing__container">
    {{#if posts}}
    {{#with posts.[0]}}
    <div class="pricing__container__text">
      {{{content.extended}}}
    </div>
    {{/with}}
    {{/if}}
  </div>
</div>
<div>
  <div class="pricing">
    <div class="pricing__container">
      <div>
        {{>artwork img='/img/boquet2-small.png' class='pricing-art'}}
      </div>
    </div>
  </div>
</div>

<!-- <script type="text/javascript" src="/js/pricing.js"></script> -->

{{>footer}}
