<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<footer class="footer">
  <p class="footer__text">All images copyright © {{getCurrentYear}} Jen Larissa Photo. Based in Utah.</p>
  <div id="socialicons" class="footer__icon-bar">
    <a class="icon insta" href="https://www.instagram.com/jenlarissaphoto/?hl=en" title="Follow with Instagram" target="_blank"><i class="fa fa-instagram"></i></a>
    <a class="icon facebook" href="https://www.facebook.com/jenlarissaphoto/?hc_ref=SEARCH" title="Follow with Facebook" target="_blank"><i class="fa fa-facebook"></i></a>
    <a class="icon email" href="mailto:jenlarissaphoto@gmail.com" title="Email Me" target="_blank"><i class="fa fa-envelope"></i></a>
  </div>
</footer>
