<a class="gallery__image" href="/blog/{{{toLowerCase ref}}}">
  <figure class="photo-inner">
    <img src="{{cloudinaryUrl img}}" alt="">
    <div class="photo-overlay">
      <div style="padding: 20px;">
        <h4 class="photo-overlay__title">
            {{{toUpperCase title}}}
        </h4>
        <div class="photo-overlay__description">
          {{{description}}}
        </div>
      </div>
    </div>
  </figure>
</a>
