  <div class="gallery__image">
    <a href="/blog/{{{toLowerCase ref}}}">
      <figure class="photo-inner">
        <img src="{{cloudinaryUrl img}}" alt="">
      </figure>
    <div class="gallery__image__title">
      <p class="p-small gallery__image__date helvetica " style="margin: 0px;">{{date}}</p>
      <h2 style="margin: 0; font-size: 1.8em;">{{{title}}}</h2>
      <h3 style="margin: 0; margin-top: 0px; opacity: .3;">____</h3>
    </div>
  </a>
  </div>
