{{#if margin}}
  <nav class="frame-S-nav menu-B  nav-margin">
{{else}}
  <nav class="frame-S-nav menu-B">
{{/if}}
    <div class="full-nav">
      <div class="menu-S-logo">
          <img class="logo-B" src="/img/jen_larissa-black.png" alt="">
      </div>
      <div class="menu-S-nav">
        <a href="/contact" class="menu-S-option navlink-B">CONTACT</a>
        <a href="/about" class="menu-S-option navlink-B">ABOUT</a>
        <a href="/blog" class="menu-S-option navlink-B">BLOG</a>
        <a href="/portfolio" class="menu-S-option navlink-B">PORTFOLIO</a>
      </div>
    </div>
    <div class="mobile-nav noselect">
      <div class="nav-toggle">
        <div class="nav-toggle__open">
          <div class="nav-toggle__open__bar"></div>
          <div class="nav-toggle__open__bar"></div>
          <div class="nav-toggle__open__bar"></div>
        </div>
        <div class="nav-toggle__close">
          <div class="nav-toggle__close__bar nav-toggle__close__bar__1"></div>
          <div class="nav-toggle__close__bar nav-toggle__close__bar__2"></div>
        </div>
      </div>
      <div class="mobile-nav__background">
        <div class="mobile-nav__logo">
            <img src="/img/jen_larissa-black.png" alt="">
        </div>
        <div class="mobile-nav__list">
          <a href="/contact"  class="mobile-nav__list__item">
            <p>CONTACT</p>
          </a>
          <a href="/about"  class="mobile-nav__list__item">
            <p>ABOUT</p>
          </a>
          <a href="/blog"  class="mobile-nav__list__item">
            <p>BLOG</p>
          </a>
          <a href="/portfolio"  class="mobile-nav__list__item">
            <p>PORTFOLIO</p>
          </a>
        </div>
      </div>
    </div>
</nav>

<script src="/js/nav.js"></script>
