<div
  class="details-container background parallax"
  {{#if image}}
    style="background-image: url('{{image}}');"
  {{else}}
    style="background-image: url('/img/landing_background.jpg');"
  {{/if}}
  data-img-width="1600"
  data-img-height="1064"
  data-diff="100"
>
    <div class="content-a category-title">
        <div class="content-b">
          {{#if title}}
            <h1>{{toUpperCase title}}</h1>
          {{else}}
            <h1>PARALAX</h1>
          {{/if}}
        </div>
    </div>
</div>

<script src="/js/parallax.js"></script>
